
.position{
  border: 10px double #c7d8e3;
  margin: 10px;
  padding: 15px;
  font-size: 35px;
  text-align: center;
  gap: 5rem;
  

}
.p2 {
  font-family:sans-serif;
  font-size: 30px;
  text-align: right;
  text-shadow: #cbd8e1;
  color: #cbd8e1;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.p2 .B {
  width: 100%;
}

.B h1 {
  font-family:sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0;
}

.B {
  justify-content: space-between;
  border: 4px solid #b8cbca;
}

p {
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 7px;
  color: #4c98ca;
}


.c {
  color: #ccd7df;
  text-decoration: underline;
  text-underline-offset: 7px;
  font-size: 50px;
  font-family:sans-serif;
}

u {
  font-size: 25px;
  display: flex;
  gap: 0.5rem;
}

body {
  line-height: 30px;
  margin: 10px;
  padding: 20px;

  background-color: #222831;
  color: #cbd8e1;
  line-height: 30px
}

.my-img {
  width: auto;
  max-width: 500px;
  height: auto;
}

::selection {
  color: #5ba8df;
}

a {
  font-family: cursive;
  display: flex;
  color: #c7d8e3;
  gap: 2rem;
  text-decoration: none;
}

a:hover {
  color: #5ba8df;
  font-size: 30px;
}

.المقدمه {
  font-size: 25px;

}

/*القلعه*/

#q {
  color: #a8c1d1;
  font-size: 60px;
  text-align: right;
}

.el {
  line-height: 40px;
}

.img12 {
  width: 600px;
  height: 400px;
  margin-left: 10px;
  margin-right: 0px;
  border-radius: 3rem;
  border: 5px solid #c7d8e3;
  gap: 10rem;
  margin-right: 50px;
}

.img34 {
  width: 600px;
  height: 400px;
  margin-right: 50px;
  border-radius: 3rem;
  border: 5px solid #c7d8e3;
}

/*المسجد*/
#hd {
  color: #c7d8e3;
  font-size: 60px;
  text-align: right;
}

.m12 {
  width: 700px;
  height: 400px;
  margin-left: 10px;
  margin-right: 0px;
  border-radius: 3rem;
  border: 5px solid #c7d8e3;
}

.m3 {
  width: 1000;
  margin-left: 50px;
  margin-right: 220px;
  border-radius: 3rem;
  border: 5px solid #c7d8e3
}

/*قناطر ادفينا */
#en {
  font-size: 50px;
  color: #a8c1d1;
  font-family: cursive;
  justify-content: space-between;
  text-align: right;
  

}
.en ,.h2b, .el {
text-decoration: none;
font-size: 35px;
color: #c7d8e3;
line-height: 40px;
}

.k12 {
  max-width: 1200;
  width: 600px;
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
  gap: 2rem;
  border-radius: 3rem;
  border: 5px solid #c7d8e3
}

.k3 {
   max-width: 1200;
  width: 600px;
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
  gap: 2rem;
  border-radius: 3rem;
  border: 5px solid #c7d8e3
}

/*ادكو*/
.ed {
  width: 800px;
  height: 500px;
  margin-left: 50px;
  margin-right: 300px;
  border-radius: 3rem;
  border: 5px solid #c7d8e3
}

.h1b {
  font-size: 70px;
  font-family: cursive;
  margin-top: 20px;
}

.h2b {
  line-height: 40px;
  font-size: 25px;
}

/*المتحف*/
.mu {
  width: 800px;
  height: 500px;
  margin-left: 50px;
  margin-right: 300px;
  border-radius: 3rem;
  border: 5px solid #c7d8e3
}

/*الدير*/
.dr {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 1500;
  margin-left: 5rem;
  margin-right: 22rem;
  border-radius: 3rem;
  border: 5px solid #c7d8e3
}

.ind_para,
.intro_txt {
  font-size: 30px;
  text-decoration: none;
  text-underline-offset: 7px;
  color: #ffffff;
}

.ind_img {
  width: 100%;
}

.ind_sec .ind_img {
  margin: 2px auto;
}

.ind_sec {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.ind_imgs {
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 767px) {
  .ind_img,.ed ,.dr,.mu{
    width: 500px;
    height: 300px;
    border-radius: 8px;
    margin: 50px auto;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .ind_img {
    width: 600px;
    height: 250px;
    border-radius: 8px;
    margin: 30px auto;
  }
}


@media screen and (min-width: 1200px) {
  .ind_img {
    width: 700px;
    height: 400px;
    border-radius: 8px;
    margin: 50px auto;
  }}
  @media screen and (max-width: 500px) {


  .p2 {
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
    line-height: 30px;
  }

  h1,
  h2,
  p {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .b_head {
    font-size: 39px;
  }}
