* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #222831;
}

.logo {
  width: 100px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  opacity: 70%;
  position: relative;
  top: 20px;
  left: 0px;
  margin: 0px;
}
.header{
  font-size: 30px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(4, 9, 30, 0.7),
        rgba(4, 9, 30, 0.7)
    ),
    url(back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
  font-size: 40px;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;



}
header {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
}

ul {
  margin-top: 5px;
  margin: 10px;
  display: flex;
  list-style-type: none;
  gap: 2rem;

}

.hd {
  text-align: center;
  font-size: 40px;
  color: #e6eaf0;
}

a {
  font-family: cursive;
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: aqua;

}

hr {
  opacity: 5%;
  color: aliceblue;
}

.con {
  opacity: 40%;
  color: aliceblue;
}

.university {
  color: aliceblue;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 1rem auto;
  max-width: 1200px;
  margin-bottom: 0%;
}

.team {
  color: aqua;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section.cards {
  border: 2px solid #c7d8e3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.card {
  background-color: aliceblue;
  border: 3px solid #c7d8e3;
  border-radius: 24px;
  box-shadow: 0 0 60px rgb(31, 118, 193);
  padding: 18px;
  text-align: right;
  width: 400px;
  height: 600px;
  height: min-content;
  margin: 30px;
}
.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.card_img {
  width: 300px;
   height: 200px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}



.card_btm {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_btn {
  background-color: rgb(19, 55, 87);
  color: #e6eaf0;
  border-radius: 10px;
  padding: 10px 20px;
  flex-direction: row-reverse;
  text-decoration: none;
  display: inline-block;
}

.card_para {
  text-align: center;
  line-height: 35px;
  color: #222831;
  font-size: 35px;
  text-decoration: none;

}

.card_title {
  color: rgb(29, 130, 174);
  font-size: 35px;
  margin: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.card_hisd {
  text-align: end;
}