


*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
body{
    background-color: #222831;
}
.logo {
  width: 60px;      
  margin: 40px auto; 
  display: flex;
justify-content: space-between;
opacity: 70%;
position:relative; top:20px; left:0px; 
margin: 0px;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
margin: 2rem auto;
max-width: 1200px;
}
 ul{
display: flex;
list-style-type: none;
gap: 2rem;

}
a{
font-family: cursive;
text-decoration: none;
color: aliceblue;
}
a:hover{
    color: aqua;
    font-size: 20px;
}
hr{
    opacity: 10%;
    color: aliceblue;
}

  .word {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    gap: 5rem;
  }
.left-circle {
    width: 400px;      
    height: 400px;     
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;   
    border: 5px solid #d4e1f6; 
}

.left-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}


  .right-section {
    flex: 1;
    margin-right: 2rem;
  }

  .right-section h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    font-weight: normal;
    color: aliceblue;
  }

  .right-section p {
    font-size: 1.1rem;
    color: aliceblue;;
    margin-bottom: 1rem;
  }

  .images {
    display: flex;
    gap: 0.5rem;
  }

  .images img {
    max-width: 1200px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
    border:5px solid aliceblue;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-between;
           gap: 5rem;
  }
  .btn{
    border:10px solid aliceblue;
    background-color: aliceblue;
    color: #051f48;
     border-radius: 8px;
     text-decoration: none;
  }